<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="SGEAuthService" />
                <binding name="ServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServicioFacturacion.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://ds.dyndns.org:9000/AuthorizationService"
                binding="basicHttpBinding" bindingConfiguration="SGEAuthService"
                contract="ServicioAutorizacion.ILoginService" name="SGEAuthService" />
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap2"
                contract="ServicioFacturacionAfip.ServiceSoap" name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>